[ShortCutKeys]
Mod4|Shift|less=FLYWM_PREV_WALLPAPER
Alt|Insert = FLYWM_DESKTOP_FOCUS
Alt|F4 = FLYWM_CLOSE
Mod4|Left = FLYWM_SNAP_LEFT
Alt|space = FLYWM_POPUP_MENU
;Alt|BackSpace = FLYWM_POPUP_DESKTOP_MENU
None|Super_L = FLYWM_POPUP_START_MENU
